/*styles for both Anni Albers Layouts */

/* by default, let's lay out the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

#row2 p,
#row5 p,
#row7 p,
#row9 p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

#row1 p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 80%;
}

p.callout {
    font-size: 2rem;
    line-height: auto;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}
