/*styles for both Anni Albers Layouts */

/* by default, let's lay out the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p.callout {
    font-size: 2rem;
    line-height: auto;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 100px;
    max-width: 35%
}

#row2 p,
#row5 p,
#row7 p,
#row9 p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

#row1 p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 80%;
}

/* ******************************************************* */
/* CSS for index2 */
/* ******************************************************* */

/* rinherit the baseline main code, above */

#secondLayout main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(13, auto);
    grid-template-areas:
    'title title tilte title title title'
    'p1 p1 p1 p1 . .'
    'p2 p2 . . c1 c1'
    'p3 p3 p3 p3 . .'
    'p4 p4 p4 p4 . .'
    'p5 p5 . . c2 c2'
    'p6 p6 p6 p6 . .'
    'p7 p7 . . c3 c3'
    'p8 p8 p8 p8 . .'
    'p9 p9 . . c4 c4'
    'p10 p10 p10 p10 . .'
    'p11 p11 p11 p11 . .'
    'p12 p12 p12 p12 . .'
    '.p13 p13 p13 p13 . .';
}

#secondLayout #titleRow { grid-area: title; }
#secondLayout #para1 {grid-area: p1; }
#secondLayout #para2 {grid-area: p2; }
#secondLayout #para3 {grid-area: p3; }
#secondLayout #para4 {grid-area: p4; }
#secondLayout #para5 {grid-area: p5; }
#secondLayout #para6 {grid-area: p6; }
#secondLayout #para7 {grid-area: p7; }
#secondLayout #para8 {grid-area: p8; }
#secondLayout #para9 {grid-area: p9; }
#secondLayout #para10 {grid-area: p10; }
#secondLayout #para11 {grid-area: p11; }
#secondLayout #para12 {grid-area: p12; }
#secondLayout #para13 {grid-area: p13; }
#secondLayout #callout1 {grid-area: c1}
#secondLayout #callout2 {grid-area: c2}
#secondLayout #callout3 {grid-area: c3}
#secondLayout #callout4 {grid-area: c4}