/*styles for both Anni Albers Layouts */

/* by default, let's lay out the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: auto;
    font-style: italic;
}

#row1 p {
    margin-left: calc(100% / 6);
}

#row3 p {
    margin-left: calc(100% / 6);
}

#row5 p {
    margin-left: calc(100% / 6);
}

#row7 p {
    margin-left: calc(100% / 6);
}

#row9 p {
    margin-left: calc(100% / 6);
}

#row11 p {
    margin-left: calc(100% / 6);
}