/* Quilt image on left and right side */

/*allows side columns to fluctuate between 25 and 300 px*/

:root {
    --side-col-width: clamp(25px, 16vw, 300px)
}

.left-image,
.right-image {
    position: fixed;
    top: 0;
    height: 100vh;
    width: var(--side-col-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-image img,
.right-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}

/* mobile-first design */

* {
    box-sizing: border-box;
    color: #241442;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
     font-family: Lucida Handwriting;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-family: sans-serif;
    font-style: italic;
}

main {
    font-family: sans-serif;
  padding: 15px 12vw;
    max-width: 85vw;
    margin: 0 auto;
}

li {
    margin-bottom: 10px;
    font-weight: 500;
}

li ul,
li ol {
    margin-top: 5px;
    font-weight: normal;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 18%;
    gap: 2%;
    justify-items: center;
}

.patterns{
   display: grid;
    grid-template-columns: 1fr;
    padding: 5% 18%;
   gap: 3% 1%;
    justify-items: center; 
}

.projects{
    max-width: 50%;
    justify-content: center;
    align-content: center;
    position: absolute;
}

/* navigation buttons */

#navButtonSupplies,
#navButtonTips,
#navButtonProjects,
#navButtonPlaces{
    position: center;
    z-index: 10;
    display: block;
    border-radius: 10px;
    border: 5px dashed #F3DFA2; 
    padding: 1.5%;
    margin: 2% auto;
    width: 45vw;
    background-color: white;
    text-align: center;
    font-family: Lucida Handwriting;
    font-size: 150%;
    color: #E072A4;
    transition-property: background-color;
}

#navButtonSupplies:hover,
#navButtonTips:hover,
#navButtonProjects:hover,
#navButtonPlaces:hover{
  border: 5px dashed #358EBD; 
    color: #5E467A;
}

/* REST OF THE DESKTOP LAYOUT HERE */

@media screen and (min-width: 800px) {

    .main-text {
        grid-column: 1;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 130px;
        color: rgb(65, 36, 6);
    }

    .home{
        grid-template-columns: 1fr 1fr 1fr;
        padding: .5% 16%;
    }

    .patterns{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3%;
    }

    :root {
    --side-col-width: clamp(50px, 50vw)
    }
    
#navButtonSupplies,
#navButtonTips,
#navButtonProjects{
    text-align: center;
    display: inline-block;
   width: 20vw;
    gap: 10vw;
    position: center;
}

#navButtonPlaces{
    width: 20vw;
    gap: 10vw;
}

}

/* CSS for responsive menu demo */

/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #241442;
    --nav-text-color: white;
    --nav-hover-bkgd-color: #E072A4;
    --nav-hover-text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
    font-family: sans-serif;
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}

nav>ul>li>ul>li {
    padding: 5px;
}

/*videos page*/

@media screen and (min-width: 800px) {

.video-collection {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 100%;
}
    
}

.video-collection iframe{
     border: 5px dashed #E072A4;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-collection{
    gap: 25px;
    align-content: center;
}


.sewing-machine img,
.audrey-kreick img,
.first-project img,
.pattern-one img,
.pattern-two img,
.pattern-three img,
.pattern-four img,
.pattern-five img,
.pattern-six img,
.bow-hanging img,
.tote img,
.makeup-bag img,
.cover img,
.pillow img,
.halloween img{
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 5px dashed #E072A4;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* mobile supplies and creators*/

.machine img,
.ripper img, 
.iron img,
.pins-clips img,
.fab-scissors img,
.rotary-cutter img,
.cutting-mat img,
.ruler img,
.long-arm img,
.fabric img,
.batting img,
.thread img,
.tami img,
.sydney img,
.dakota img,
.heaven img,
.christina img,
.maggie img,
.jen img,
.rachel img{
     border: 5px dashed #E072A4;
    width: 200px;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-top: 20px;
     aspect-ratio: 1 / 1;
    object-fit: cover;
}

.tami img,
.sydney img,
.dakota img,
.heaven img,
.christina img,
.maggie img,
.jen img,
.rachel img{
height: 200px;
border-radius: 50%;
    
}

/* desktop supplies and creators and inspo*/

@media (min-width: 800px) {
    
.machine,
.ripper,
.iron,
.pins-clips,
.fab-scissors,
.rotary-cutter,
.cutting-mat,
.ruler,
.long-arm,
.fabric,
.batting,
.thread,
.rachel,
.jen,
.maggie,
.christina,
.heaven,
.dakota,
.sydney,
.tami{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 5%;
}

.bow-hanging img,
.tote img,
.makeup-bag img,
.cover img,
.pillow img,
.halloween img{
    width: 80%;
}

}

/*pattern inspo images*/

.inspo-one img,
.inspo-two img,
.inspo-three img,
.inspo-four img,
.inspo-five img,
.inspo-six img,
.inspo-seven img,
.inspo-eight img,
.inspo-nine img{
    width: 90%;
    display: block;
    margin: 30 auto;
    border: 5px dashed #E072A4;
    object-fit: cover;
    margin: 30px;
}

/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul>li {
        background-color: var(--nav-bkgd-color);
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

    nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

}