/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: Times;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#rhodiePicture2 {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: 50%;
    background-position: center right;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

section {
    
    position: absolute;
    left: 1em;
    right: 1em;
    font-size: .8em;
    color: #06402b;
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */

@media screen and (orientation: landscape) {

    #rhodiePicture {
        width: 50vw;
    }

    #rhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: #06402B
    }

    #rhodieTitle h1 {
        width: 40vw;
    }

    /* REST OF THE DESKTOP LAYOUT HERE */
    
}