/* fonts */

body {
    color: white;
    padding: 15px 12vw;
    max-width: 85vw;
    margin: 0 auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    color: white;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    border-radius: 25px;
  border: 2px solid #E75480;
  padding: 20px;
  width: auto;
  height: auto;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 10px;
}

body {
    background-color: lightpink;
}

a {
    color: white;
}